#routes li{
    display:inline;
    color: brown;
    padding: 15px;
}

#navbar{
    background-color: palegoldenrod;
    height: 40px;
    align-content: center;
    
}

.loginForm{
    width:200px;
}

.myForm{
    width:350px;
}